body{
    position: relative;
    margin: 0;
    padding: 0;
}

.carousel img{
    width: 101.8%;
    height: 84vh;
    margin-left: -8px;
    object-fit: cover;
    position: relative;
    margin-bottom: 50px;
    animation: zoom 5s ease-in-out;
}

.over {
    position: absolute;
    top: 4.5%;
    right: -24%;
    transform: translate(-50%, -50%);
    text-align: right;
    padding-top: 0px;
}
body::before {
    content: '';
    top: 20%;
    left: 0;
    position: absolute;
    background-image: url('Website Images/seetalogo.jpg');
    width: 100%;
    height: 1400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}
nav{
    margin-top: -4px;
}

h1{
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.07cap;
    text-shadow: inset 0.5px 0.5px 0.5px white;
    font-size: 2.7em;
    font-weight: 100;
    color: whitesmoke;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-top: -40px;
    font-size: 2.6em;
    font-weight: 10;
    letter-spacing: 0.01cap;
    color: whitesmoke;
}

.tab-container button{
    border-bottom: 0.1cap solid rgb(78, 3, 148);
    border-right: 0.1cap solid rgb(78, 3, 148);
    cursor: default;
    width: 80%;
    text-align: left;
    padding-bottom: 1px;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: 549;
    letter-spacing: 0.07cap;
    color: rgb(78, 3, 148);
    padding-left: 4px;
} 
.tab-button {
    box-shadow: none;
    background-color: transparent;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tab-container button:hover, .tab-button.active {
    opacity: 1;
    border-color: rgba(241, 13, 13, 0.808);
    color: rgb(78, 3, 148);
    font-family: inherit;
}

.tab-content {
    display: none;
    width: 100%;
    margin-top: -4px;
    margin-left: -10px;
    text-align: left;
    padding-left: 9px;
    padding-top: 0px;
    font-size: large;
}

.tab-content.active {
    display: block;
}

.pillars{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 4em;
    font-weight: 535;
    text-transform: uppercase;
    font-size: 2em;
    color: rgb(78, 3, 148);
}

h5 {
    font-size: 2em;
    margin-bottom: -50px;
    text-align: center;
    font-weight: 350;
}

.container3{
    margin-top: -50px;
}

.extras{
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}

.events {
    font-size: x-large;
}

.text-line {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.text-line::before, .text-line::after {
    content: "";
    flex: 1;
    border-bottom: 0.1cap solid rgb(78, 3, 148);
    ;
}
.core1{
    animation: fadeIn 2s, swipefar 2.5s ease-in-out;
}
.core2{
    animation: fadeIn 2.5s, swipefar 3s ease-in-out;
}
.core3{
    animation: fadeIn 3s, swipefar 3.5s ease-in-out;
}
.core4{
    animation: fadeIn 3.5s, swipefar 4s ease-in-out;
}
.core5{
    animation: fadeIn 4s, swipefar 4.5s ease-in-out;
}
.core6{
    animation: fadeIn 4.5s, swipefar 5s ease-in-out;
}
.core7{
    animation: fadeIn 5s, swipefar 5.5s ease-in-out;
}
.core8{
    animation: fadeIn 5.5s, swipefar 6 ease-in-out;
}
.events {
    margin-top: -100px;
    text-align: center;
    font-size: 2.3em;
}

.sports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
    max-width: 1000px;
    margin: auto;
}

.sports li {
    padding: 0px;
    text-align: left;
    list-style-position: inside;
    background-color: transparent;
    font-size: 1.9em;
}

.testimonial-cup {
    width: 85%;
    margin-top: 3em;    
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    font-size: 2.6em;
    font-weight: 100;
    transition: transform 7s ease-in;
}

.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonial {
    padding: 20px;
    margin-left: 100px;
    text-align: center;
    display: none;
    border-left: 0.55cap solid rgba(78, 3, 148, 0.589);
    height: 450px;
}

.testimonial.active{
    display: block;
}

#speech {
    animation: fadeIn 2.2s, swipeLeft 2s ease-in-out;
}
#speaker {
    text-align: right;
    animation: fadeIn 2.7s, swipeLeft 2.5s ease-in-out;
}

.footer {
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.press{
    margin-top: 50px;
}

.dark-mode .tab-container button {
    background-color: transparent;
    color: aliceblue;
    border-bottom: 0.1cap solid aliceblue;
    border-right: 0.1cap solid aliceblue;
}

.dark-mode .tab-container button:hover, .dark-mode .tab-button.active {
    opacity: 1;
    border-color: rgba(5, 9, 247, 0.753);
    color: aliceblue;
    font-family: inherit;
}

.dark-mode .pillars{
    color: aliceblue;
}

.dark-mode .text-line::before, .dark-mode .text-line::after {
    border-bottom: 0.1cap solid aliceblue;
}