/*General Body Styles*/
body{
    background: rgb(228, 213, 213);
    color:  rgb(78, 3, 148);
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
}
header {
    background-color: rgb(243, 243, 98);
    padding-right: 0px;
    margin-right: -10px;
}
h4 {
    font-size: 4em;
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
    margin-top: -150px;
}
p {
    font-size: 1.2em;
}
div button{
    border: none;
    padding-left: 40px;
    font-size: large;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bolder;
    margin-right: 50px;
    transition: background-position 2s ease-in-out , color 2s ;
    cursor: default;
    margin-bottom: 5px;
}
div button:hover{
    opacity: 0.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Navigation bar*/
nav{
    margin-top: -27px;
    background-color: rgb(78, 3, 148);
    position: relative;
    width: auto;
    z-index: 1000;
    height: 45px;
    padding-top: 1px;
    margin-left: -10px;
    margin-right: -10px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul li a:hover{
    color: rgb(78, 13, 199);
}

.attribute{
    color: white;
    background-color: #000100;
    padding: 5px 5px;
    border-radius: 10px;
}


.reason{
    display: flex;
    margin-top: 100px;
}
#enrolment{
    margin-bottom: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 157px;
}
.field{
    border: none;
    border-radius: 20px;
    padding-left: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    display: flexbox;
    max-width: 100%;
    box-sizing: border-box;
    width: 700px;
}
.mark{
    font-size: 1em;
    
}
.fifi{
    flex-wrap: wrap;
    flex: auto;
    max-width: 100%;

}
.reset{
    margin-top: auto;
    padding-left: 43px;
    padding-right: 43px;
}

/*Dark Mode Styles*/
/*Dark Mode Button*/
.press {
    display: grid;
    place-items: center;
    padding-right: 42px;
    padding-left: 13px;
    line-height: 8px;
    float: right;
    background: #a75f5f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    width: 30px;
    height: 50px;
    position: absolute;
    right: 0;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 310px;
}
.press:hover {
    background: #282033;
}

body.dark-mode {
    background-color: #262755;
    color: aliceblue;
}
.dark-mode footer {
    background-color: #282033;
    color: aliceblue;
}
.dark-mode span a:hover {
    color: aliceblue;
}
.dark-mode button {
    background-color: #282033;
    color: whitesmoke;
}
.dark-mode button:hover {
    background: aliceblue;
    color: rgb(19, 8, 46);
}
.dark-mode .call {
    background-color: rgb(111, 114, 117);
}
.dark-mode .call a {
    color: rgb(173, 173, 189);
}
.dark-mode .schoolname {
    color:  rgb(78, 3, 148);
}
.dark-mode .fa-brands{
    color: rgb(111, 114, 117);
}
.dark-mode .fa-brands:hover {
    color: aliceblue;
}

/*Footer styles*/
.footer {
    background-color: rgb(148, 95, 82);
    color: rgb(0, 45, 85);
    height: 315px;
}
.footer-text {
    margin-top: 20px;
    margin-bottom: 5px;
}
.footer p, .footer p a {
    margin-left: 8px !important;
    padding-right: 5px !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    line-height: 1.2em !important;
    font-weight: 530 !important;
    text-transform: uppercase !important;
    font-size: 1.2rem !important;
    letter-spacing: 0.07cap !important;
    text-decoration: none !important;
    color: inherit !important;
    text-align: right !important;
}
.footer p:hover, .footer p a:hover {
    opacity: 0.6;
    text-decoration: wavy;
}
.tts{
    height: 300px;
}
.tts p {
    padding-left: 12px;
    margin-top: -15px;
    margin-bottom: 15px;
}
#tt4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-left: 80px;
}
.call {
    width: 200px;
    background-color: rgb(0, 45, 85);
    height: 50px;
    border-radius: 7px;
    font-weight: 549;
    font-size: 1.2rem;
}
.call a{
    color: rgb(227, 236, 233); 
    text-decoration: none;
}
#socials {
    font-size: 50px;
}
.fa-brands{
    color: rgb(0, 45, 85);
}
.fa-brands:hover{
    opacity: 0.6;
}

/*Marquee*/
.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background: transparent;
    margin-top: -30px;
    padding: 15px;
    font-size: 0.5em;
    padding-top: 0px;
    font-weight: lighter;
    cursor: pointer;
    height: 30px;
}
span {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 4em;
    font-weight: 535;
    text-transform: uppercase;
    font-size: 1.9em;
    letter-spacing: 0.1cap;
}
.smooth {
    display: flex;
    gap: 50px;
    animation: marquee-animation 15s linear infinite;
    min-width: 200%;
}
.smooth:hover {
    animation-play-state: paused;
}
.smooth a {
    color: rgb(176, 176, 218);
}
.smooth a:hover{
    color: rgb(0, 45, 85);
}

/*Animations*/
@keyframes marquee-animation {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes swipe {
    from {
        transform: translateY(12%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes swipeLeft {
    from {
        transform: translateX(12%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.2);
    }
}
.scroll { 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.scroll.visible{
    opacity: 1;
    transform: translateY(0);
}
@keyframes zoom2 {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}
@keyframes swipefar {
    from {
        transform: translateY(35%);
    }
    to {
        transform: translateY(0);
    }
}
